body {
    font-family: "Arial";
}

#back {
    display: none;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movieCard {
    display: flex;
    border: dotted #2d4114 1px;
    padding: 5px;
    border-radius: 5px;
    width: 350px;
    margin: 15px;
    cursor: pointer;
}

.movieCard img {
    height: 393px;
    width: 182px;
}

.infoPart {
    margin-left: 15px;
}

#infoContainer {
    display: none;
}

#infoContainer img {
    width: 352px;
    height: 468px;
    margin-right: 30px;
}

#addNewWindow {
    display: none;
}